*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(4, 130, 134);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
main{
    background-color: rgb(108, 201, 204);
    display: flex;
    flex-direction: column;
    row-gap:2rem ;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem rgb(49, 90, 92),1rem 1rem 1rem rgba(49, 90, 92,0.8);
}

#text-container{
    height: 7rem;
    resize: none;
    padding: 1rem;
    border-radius: .6rem;
    font-size: 1rem;
}

.data-container{
    display: flex;
    justify-content: space-between;
}

#total-characters{
    color: #561cdd;
}
#remaining-characters{
    color: red;
}